*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: #222;
    text-align: center;
    color: #fff;
}
h1
{
    margin-top: 10px;
}
#traffic-light
{
    width: 150px;
    height: 300px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 23px rgb(255,255,255,0.3);
    padding-top: 10px;
}
.light
{
    width: 80px;
    height: 80px;
    background: grey;
    border-radius: 50%;
    margin: 10px auto;
    border: 5px solid #333;
}
#timer
{
    font-size: 25px;
    margin: 10px;
}
button
{
    padding: 7px 20px;
    font-size: 18px;
    margin: 5px 10px;
    cursor: pointer;
    background: yellow;
    border: none;
    border-radius: 5px;
    outline: none;
}
button:active
{
    transform: scale(1.1);
    transform: translateY(5px);
}